*{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
}
body{     
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      background-color: f4f4f4;
      color: #333;

}    
header{
      background: 1e1e2f;
      color:rgb(155, 137, 137);
      text-align: center;

}

nav ul{
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 10px;
}